@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$font: 'Roboto', sans-serif;

$primary-light-color: #FAFAFA;
$secondary-light-color: #D2D3DB;
$text-light-color: #000000;

$primary-dark-color: #000000;
$secondary-dark-color: #313131;
$text-dark-color: #CCCCCC;

$elements-color: #CE055F;

@mixin respond-to($breakpoint) {
  @if $breakpoint == "extra-small" {
    @media (min-width: 360px) {
      @content;
    }
  }
  @if $breakpoint == "small" {
    @media (min-width: 767px) {
      @content;
    }
  }
  @else if $breakpoint == "medium" {
    @media (min-width: 992px) {
      @content;
    }
  }
  @else if $breakpoint == "large" {
    @media (min-width: 1200px) {
      @content;
    }
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin button {
  // color: black;
  background: white;
  border: 0;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}
::-moz-selection { /* Code for Firefox */
  color: #fff;
  background: #000;
}
::selection {
  color: #fff;
  background: $elements-color;
}
@include respond-to(extra-small) {
  body {
    background-color: $primary-light-color;
    font-family: $font;
    font-size: 16px;
    color: $text-light-color;
    font-weight: 400;
  }
  .Main {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }
  #content {
    position: relative;
    height: 100%;
    padding: 5% 10%;
  }
  .dark-mode {
    background-color: $primary-dark-color;
    color: $text-dark-color;
  }
}
@include respond-to(small) {
  body {
    background-color: #fff;
  }
}
@include respond-to(medium) {
  body {
    background-color: #fff;
    font-size: 1.2rem;
  }
}
@include respond-to(large) {
  body {
    background-color: #fff;
  }
}
