@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$font: 'Roboto', sans-serif;

@mixin respond-to($breakpoint) {
  @if $breakpoint == "small" {
    @media (min-width: 767px) {
      @content;
    }
  }
  @else if $breakpoint == "medium" {
    @media (min-width: 992px) {
      @content;
    }
  }
  @else if $breakpoint == "large" {
    @media (min-width: 1200px) {
      @content;
    }
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
::-moz-selection { /* Code for Firefox */
  color: #fff;
  background: #000;
}
::selection {
  color: #fff;
  background: #000;
}
body {
  background-color: #fff;
  font-family: $font;
}
.Main {
  position: relative;
  width: 100%;
}
#content {
  position: relative;
  width: 95%;
  height: 100%;
  margin-left: 5%;
  border: 1px dashed green;
  padding: 5% 10%;
}
@include respond-to(small) {
  body {
    background-color: red;
  }
}
@include respond-to(medium) {
  body {
    background-color: green;
  }
}
@include respond-to(large) {
  body {
    background-color: #fff;
  }
}
