@include respond-to(extra-small) {
  #sidebar {
    position: fixed;
    height: 100%;
    transition: width 0.5s;
  }
  .sidebar {
    background-color: $secondary-light-color;
  }
  .sidebar--darkmode {
    background-color: $secondary-dark-color;
  }
  .sidebar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0.5rem 0;
    &__icon{
      display: inline-block;
      text-align: center;
      font-size: 1.5rem;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .sidebar-icon{
    &--menu, &--close {
      background-color: #CE0E5F;
      color: white;
    }
    &--menu {
      margin-bottom: 0.5rem;
    }
    &--close {
      border-radius: 5px;
    }
  }
  .sidebar__menu {
    margin: 1rem 0;
  }
}
@include respond-to(small) {
  .sidebar-header {
    &__icon {
      font-size: 1.8rem;
    }
  }
}
@include respond-to(medium) {
}
@include respond-to(large) {
  .sidebar-header {
    &__icon {
      font-size: 2rem;
    }
  }
}
